html,
body {
  background-color: #222222;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
  font-size: calc(1em + 1vw);
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

@media only screen and (max-width: 991.99px) {
  html,
  body {
    font-size: calc(1.3em + 1vw);
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.5em;
  }
}

.App {
  display: grid;
  grid-template-columns: repeat(11, auto) 300px;
  grid-template-rows: 100px auto;
  grid-template-areas:
    "s s s s s s s s s s s s"
    "d d d d d d d d d d d l";

  color: white;
}

@media only screen and (max-width: 991.99px) {
  .App {
    grid-template-columns: 1fr;
    grid-template-rows: 120px auto 100px;
    grid-template-areas:
      "s"
      "d"
      "l";
  }
}

@media (max-width: 575.99px) {
  .App.container {
    padding-right: 0px;
    padding-left: 0px;
  }
}

.loading {
  grid-column: 3 / 8;
  text-align: center;
  margin-top: 35%;
}

@media only screen and (max-width: 991.99px) {
  .loading {
    grid-column: 1;
  }
}

.SearchBar {
  font-family: "Roboto Slab", sans-serif;
  display: flex;
  text-align: center;
  grid-area: s;
  padding: 20px;
}

.SearchBar input[type="text"] {
  flex: 1 0 auto;
  -webkit-appearance: none;
  border-width: 0;
  outline: none;
  height: 100%;

  padding: 10px 20px;
  color: white;
  background-color: #222222;
  border-bottom: 1px solid white;
  text-align: center;
  font-size: 0.5em;
}

@media only screen and (max-width: 991.99px) {
  .SearchBar input[type="text"] {
    padding: 0px;
  }
}

.SearchBar .button-clear {
  width: 60px;
  opacity: 1;
  color: #ccc;
  text-shadow: none;
  float: none;
  line-height: none;
  transition: all 0.05s ease-in-out;
}

.SearchBar .button-clear:focus {
  outline: 0;
}

.SearchBar .button-clear:hover {
  transform: scale(1.1);
}

.SearchBar .button-clear:active {
  transform: scale(0.9);
}

.VideoList {
  grid-area: l;
  margin-right: 20px;
}

@media only screen and (max-width: 991.99px) {
  .VideoList {
    margin-top: 20px;
  }
}

.VideoList .VideoListItem {
  display: flex;
  align-items: flex-start;
  padding: 0 0 5px 0;
}

@media only screen and (max-width: 991.99px) {
  .VideoList .VideoListItem {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.VideoList .VideoListItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.VideoList .VideoListItem * {
  margin-left: 5px;
  font-size: 0.6em;
  margin-bottom: 0.1rem;
}

.VideoList .VideoListItem a {
  color: #999;
}

.VideoList .VideoListItem .video-thumbnail,
.VideoList .VideoListItem .video-text-content .video-title {
  cursor: pointer;
}

.VideoDetail {
  grid-area: d;
  height: 100%;
  font-size: 0.4em;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.VideoDetail .video-container {
  align-self: center;
  width: 96%;
}

@media only screen and (max-width: 991.99px) {
  .VideoDetail .video-container {
    margin-left: 0;
    width: 100%;
  }
}

.VideoDetail .button-copy {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  width: 96%;
  margin: 0 auto;
  transition: all 0.15s ease-in-out;
}

.VideoDetail .button-copy:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transform: scale(1.02);
}

.VideoDetail .button-copy.clicked {
  background-color: white;
  color: red;
}

.VideoDetail .button-copy:active {
  transform: scale(0.98);
}

.VideoDetail .button-copy:focus {
  border: 2px solid white;
  outline: 0;
}

@media only screen and (max-width: 991.99px) {
  .VideoDetail .button-copy {
    margin-left: 0;
    width: 100%;
  }
}

.VideoDetail .description {
  padding: 20px 0;
  padding-left: 10px;
  margin-right: 10%;
}

.VideoDetail a,
.VideoDetail p {
  padding: 0 10px;
  margin: 0;
}

.VideoDetail .video-title {
  padding-top: 10px;
  padding-left: 20px;
  font-size: 1.5em;
}

.VideoDetail a {
  color: #fff;
  font-weight: bold;
}

.VideoDetail p:nth-of-type(2) {
  color: #999;
  margin-bottom: 10px;
}

@media only screen and (max-width: 991.99px) {
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
}
